
<div class="container-left">

  <div class="box">

    <p>
      <a [routerLink]="['home']">HOME</a>
    </p>
    <p>
      Try to switch to ACCOUNT page without clicking activate link below. <span *ngIf="activeCheck"  [ngClass]="{'active' : activeCheck}">Now go to ACCOUNT Page.</span>
    </p>
    <p>
      <button (click)="activateFn()">Activate Check and make ACCOUNT active! </button>
    </p>
  </div>

  <div class="box">
    
      <p>
        <a [routerLink]="['account']">ACCOUNT</a>
      </p>
      

  </div>


</div>
<div class="container-right">
  <router-outlet></router-outlet>

</div>
